<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Meta:</b>
  <%= @article.meta %>
</p>

<p>
  <b>Summary:</b>
  <%= @article.summary %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body.html_safe %>
</p>

<p>
  <b>User:</b>
  <%= @article.user.name %>
</p>

<p>---------------------------</p>
<p>Tags</p>
<p>---------------------------</p>
<% @article.tags.each do |t| -%>
  <%= content_tag :p, t.name %>
<% end -%>

<%= link_to 'Edit |', edit_article_path(@article) if current_user%>
<%= link_to 'Back', articles_path %>
