<%= form_for(@user_request, :html => {:class => "tabbed"}) do |f| %>
  <% if @user_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_request.errors.count, "error") %> prohibited this user_request from being saved:</h2>

      <ul>
      <% @user_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%SuperUsage.all.each do |su|%>
    <%unless su.name == "Mobilite"%>
      <div class="question" id=<%= "super-usage#{su.id}" %>>
        <span class="qicon"></span>
        <div class="qbody">
          <div class="qname"><h2 class="usageTitle"><%=su.name%></h2></div>
          <div class="qdesc">
          	<h3 class="usageSubQuestion">Quels documents allez-vous r&eacute;aliser ?</h3>
          	<p class="usageExplain">Cochez ce qui vous int&eacute;resse puis validez. </p>
          </div>
          <div class="qinfo">
            <h5>Les documents simples</h5>
            <p>Vous r&eacute;digez principalement de courts textes ou des feuilles de calcul simples ? Il n&#39;y a pas besoin de beaucoup de puissance, mais un &eacute;cran correct est bien plus confortable.</p>
            <h5>Les documents avanc&eacute;s</h5>
            <p>Choisissez cette option si vous faites de longs rapports illustr&eacute;s, des pr&eacute;sentations anim&eacute;es ou manipulez r&eacute;guli&egrave;rement des feuilles de calcul complexes. Un processeur puissant et de la m&eacute;moire vive sont importants pour travailler avec fluidit&eacute;.</p>
          </div>
          <%@usage_choices=@user_request.usage_choices.where(:usage_id => su.usages)%>
          <div class="answer multichoice">
              <%@usage_choices.each do |uc|%>
                <%#usage selection%>
                <label>
                  <%=check_box_tag "usage_choice_selected_#{uc.id}", 1, uc.is_selected%><input type="hidden" value="on"/>
                  <span class="name"><%=uc.usage.name%></span>
                  <span class="desc">Courriers, notes, comptes personnels...</span>
                </label>
              <%end%>
          </div>
          <%#weight choices%>
          <!-- <%=text_field_tag "super_usage_choice_#{su.id}", @usage_choices.first.weight_for_user%> -->
        </div>
      </div>
    <%end%>
  <%end%>

  <div style="clear:both;"></div>

  <%@mobility_super_usage = SuperUsage.where(:name => "Mobilite").first%>
  <%@mobility_choices=@user_request.usage_choices.where(:usage_id => @mobility_super_usage.usages)%>
  <h1><%=@mobility_super_usage.name%></h1>
  <%@mobility_choices.each do |mc|%>
    <p>
      <%= mc.usage.name %> :
      <%=text_field_tag "mobility_choice_#{mc.id}", mc.weight_for_user%>
    </p>
  <% end %>

  <div class="actions">
    <%= f.submit "OK"%>
  </div>
<% end %>
