<%= form_for(@user_request) do |f| %>
  <% if @user_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_request.errors.count, "error") %> prohibited this user_request from being saved:</h2>

      <ul>
      <% @user_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_by %><br />
    <%= f.text_field :order_by %>
  </div>
  <div class="field">
    <%= f.label :num_result %><br />
    <%= f.text_field :num_result %>
  </div>
  <div class="field">
    <%= f.label :start_index %><br />
    <%= f.text_field :start_index %>
  </div>
  
  <%SuperUsage.all.each do |su|%>  
    <h1><%=su.name%></h1>
    <%#weight choices%>
    <%@usage_choices=@user_request.usage_choices.where(:usage_id => su.usages)%>
    <%=text_field_tag "super_usage_choice_#{su.id}", @usage_choices.first.weight_for_user%>
    <%@usage_choices.each do |uc|%>
      <%#usage selection%>
      <%=check_box_tag "usage_choice_selected_#{uc.id}", 1, uc.is_selected%>
      <%=uc.usage.name%>
    <%end%>
  <%end%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
