      <div id="popup">
        <h2><%= t :searching_title %></h2>
        <h3><%= t :searching_subtitle %></h3>
        <img src="/images/searching.gif" />
        <ul>
          <li><%= t :searching_1 %></li>
          <li><%= t :searching_2 %></li>
          <li><%= t :searching_3 %></li>
        </ul>
      </div>

      <div id="overlay"></div>

