<div id="bottomwrapper">
  <%# Encadré & mise en page %>
  <div id="bottomhead">
    <div class="bottomheaderleft"></div>
    <div class="bottomheader">
      <h1><%= t :extras_title -%></h1>
    </div>
    <div class="bottomheaderright"></div>
  </div>
  <%# Tableau des 10 produits "argent" %>
  <div id="extras">
    <p class="extrasexplain"><%= t :extras_explain -%></p>
    <p class="fulllist"><%= t :extras_full %> <%= link_to t(:extras_full_link), products_path, :taget => "_blank" %></a></p>
    <table id="extratable" class="tablesorter">
      <%# En-têtes du tableau %>
      <%= render 'good_deal_products_table_head', :important_specs_id =>  important_specs_id %>
      <%= render 'good_deal_products_table_body', :good_deal_products => good_deal_products, :important_specs_id =>  important_specs_id %>
    </table>
  </div>
</div>    
