<tbody>
  <% good_deal_products.each do |p| -%>
  <%# Produit %>
  <% p_id = p.product_id -%>
  <% p_infos = Rails.cache.read("product_infos_#{p_id}") %>
  <tr class="product">
    <td class="thumb">
      <%= link_to product_path(p_id), :target => "_blank" do%>
        <%= image_tag p_infos[:small_img_url], :alt => p_infos[:brand_name]+' '+p_infos[:name], :class => "thumbnail" %>
      <% end -%>
    </td>
    <td class="infos">
      <%= link_to product_path(p_id), :target => "_blank", :class => "nounderline" do%>
        <div class="brand"><%= p_infos[:brand_name] %></div>
        <div class="name"><%= truncate p_infos[:name], :length => 20 %></div>
      <% end -%>
    </td>
    <td class="price">
      <%= link_to product_path(p_id), :target => "_blank", :class => "nounderline" do%>
        <div class="price"><%= p.price.floor %><small>€<%= get_cents_from p.price %></small></div>
        <div class="more"><%= t :extras_more -%></div>
      <% end -%>
    </td>
    <%# Spenta score %>
    <%= content_tag :td, :class => "score textshadingdark bckgcolorid#{get_color_number(p.spenta_score/100)}" do %>
      <var><%= p.spenta_score.round %></var><small>%</small>
    <% end -%>
    <%# Specs %>
    <% important_specs_id.each do |spec_id| -%>
      <%spec_score_percent = get_percentage_from(p_infos[:specification_values][spec_id][:sv_score], @user_response.sigmas[spec_id]) %>
      <%= content_tag :td, :class => "textshading colorid#{get_color_number(spec_score_percent.to_f/100)}" do%>
        <var><%= spec_score_percent%><var><small>%</small>
        <p class="specvalue"><%= spec_value_with_unit p_infos, spec_id%></p>
      <% end -%>
    <% end -%>
  </tr>
  <% end -%>
</tbody>

