<tbody>
  <% good_deal_products.each do |p| -%>
  <%# Produit %>
  <% p_id = p.product_id -%>
  <% product = Product.find(p_id)%>
  <% p_infos = product.infos%>
  <tr class="product">
    <td class="thumb">
      <%= link_to product_path(product.to_param), :target => "_blank" do%>
        <%= image_tag p_infos[:small_img_url], :alt => p_infos[:brand_name]+' '+p_infos[:name], :class => "thumbnail" %>
      <% end -%>
    </td>
    <td class="infos">
      <%= link_to product_path(product.to_param), :target => "_blank", :class => "nounderline" do%>
        <div class="brand"><%= p_infos[:brand_name] %></div>
        <div class="name"><%= truncate p_infos[:name], :length => 20 %></div>
      <% end -%>
    </td>
    <td class="price">
      <%= link_to product_path(product.to_param), :target => "_blank", :class => "nounderline" do%>
        <div class="price"><%= p.price.floor %><small>€<%= get_cents_from p.price %></small></div>
        <div class="more"><%= t :extras_more -%></div>
      <% end -%>
    </td>
    <%# Spenta score %>
    <%= content_tag :td, :class => "score textshadingdark bckgcolorid#{get_color_number_relative(p.spenta_score/100)}" do %>
      <var><%= p.spenta_score.round %></var><small>%</small>
    <% end -%>
    <%# Specs %>
    <% important_specs_id.each do |spec_id| -%>
      <%spec_score = p_infos[:specification_values][spec_id][:sv_score] %>
      <%= content_tag :td, :class => "values textshading colorid#{get_color_number_absolute(spec_score.round-(@user_response.sigmas[spec_id]))}" do%>
        <var><%=spec_score.round%><var><small>/10</small>
        <p class="specvalue"><%= spec_value_with_unit p_infos, spec_id%></p>
      <% end -%>
    <% end -%>
  </tr>
  <% end -%>
</tbody>

