<% content_for :head do -%>
  <title>Choisir Facile</title>
  <script type="text/javascript">
    var $j = jQuery.noConflict();
    $j(document).ready(function()
      {
          // convert all <select> with the class 'slider' into a slider
          $j('select.slider').selectSlider(); 
      });
  </script>
<% end -%> 
<% @user_request.mobility_choices.each do |mc| -%>
  <% mc_id = mc.id -%>
  <% m_id = mc.usage_id -%>
  <div class="question" id=<%= "mobility#{m_id}" %>>
  <span class="qicon"></span> 
    <div class="qbody">
      <div class="qname">
          <h2 class="usageTitle"><%= t "mobility_title#{m_id}".to_sym %></h2>
          <p class="weightExplain"><%= t("mobilities_step_question_mobility#{m_id}".to_sym).html_safe %></p>
      </div>
      <div class="answer">
        <select name=<%= "mobility_weight_#{mc_id}" %> class="slider nosnap">
            <option value="0"><%= t :weights_step_not_important %></option>
            <option value=""></option>
            <option value="<%= mc.weight_for_user.to_s %>" selected="selected"></option>
            <option value=""></option>
            <option value="100"><%= t :weights_step_very_important %></option>
        </select>
       </div>
    </div>
  </div>
<% end -%>
