<div class="price_box">
  <% product = Product.find(product_scored.product_id) %>
  <% best_offer = product.offers.order("price asc").first %>
  <%= link_to best_offer, :target => "_blank", :onClick => "_gaq.push(['_trackEvent', 'retailer_clicks', 'buy', \'buy-#{best_offer.retailer.name}-#{best_offer.product[:name]}\']);" do %>
    <div class="price_left">
      <p class="price"><%= t :bestpick_price %></p>
      <h3 class="price"><%= product_scored.price.floor %><small><%= t(:bestpick_currency)+get_cents_from(product_scored.price) -%></small></h3>
    </div>
    <div class="price_right">
      <p class="best_offer_text_link"><%= t :best_offer_text_3 %></p>
      <%= image_tag best_offer.retailer.logo_url, :class =>"best_offer_logo" %>
    </div>
  <% end -%>
  <div class="clearfix"></div>
</div>
