<% is_first_column = true -%>
<% star_products.each do |p| -%>
  <% unless is_first_column == true%>
    <td class="bestpickvspacer" />
  <% end -%>
  <% is_first_column = false -%>
  <td class="bestpickcolumn" colspan="2">
    <%= link_to product_path(p.product_id) do %>
      <h1><strong><%= p.brand_name %></strong><br/> <%= p.name %></h1>
    <% end -%>
  <div class="bestpickcategory">
    <% category_of_p = category_of p -%>
    <% category_of_p == "M" ? medal_color = "gold" : medal_color = "silver" -%>
    <%= image_tag "/images/results/#{medal_color}.png", :alt => t_safe("bestpick_medal_#{category_of_p}"), :class => "medal" %>
    <h2><%= t_safe("bestpick_header_#{category_of_p}") %></h2>
  </div>
  <p class="bestpickcolumn"><%= t_safe("bestpick_column_#{category_of_p}") %></p>
  <%= link_to t(:bestpick_more), product_path(p.product_id), :class => "more" %>
  <%= link_to  product_path(p.product_id) do%>
    <%= image_tag p.big_img_url, :alt => t(:bestpick_img)+" "+p.brand_name+" "+p.name, :class => "featuredimg"%>
  <% end -%>
  </td>
<% end -%>
