<% is_first_column = true -%>
<% star_products.each do |p| -%>
  <% product = Product.find(p.product_id) %>
  <%= render 'vspacer', :is_first_column => is_first_column  %>
  <td class="bestpickcolumn" colspan="2">
  <% is_first_column = false -%>
    <div class="best_offer">
      <p>
				<%= t_safe :best_offer_text %>
      	<% best_offer = product.offers.order("price asc").first %>
      	<%= link_to best_offer[:link], :target => "_blank" do %>
        	<%= image_tag best_offer.retailer.logo_url, :class =>"best_offer_logo" %>
      	<% end -%>
			</p>
    </div>
  <%= link_to_suggestion product do %>
    <div class="productbutton">
      <h4><%= t :bestpick_button %></h4>
    </div>
  <% end -%>
  </td>
<% end -%>

