<div id="topwrapper">
  <div id="bestpicks">
    <!-- Navigation -->
    <div id="navbuttons">
      <%= link_to edit_user_request_path do %>
        <div class="backbutton">
          <h3 class="buttonlabel"><%= t :result_nav_back %></h3>
        </div>
      <% end -%>
      <%= link_to user_requests_path, :method => :post do %>
        <div class="restartbutton">
          <h3 class="buttonlabel"><%= t :result_nav_restart %></h3>
        </div>
      <% end -%>
    </div>

    <div class="toptitle">
      <h1><%= t :result_page_title %></h1>
      <h2><%= t_safe :result_page_subtitle1 %><%= link_to "#{Product.all_cached.count} #{t_safe(:result_page_subtitle2)}".html_safe, products_path, :target => "_blank" %> <%= t_safe :result_page_subtitle3  %></h2>
    </div>
    <%# Table pour afficher les 3 PC recommandes %>
    <div class="clearfix"></div>
    <div class="bestpick_wrapper">
      <% star_products.first(3).each do |ps| -%>
        <%= render "layouts/best_product_with_specs", :product_scored => ps, :important_specs_id => important_specs_id  %>
      <% end -%>
      <div class="clearfix"></div>
    </div>
  </div>
  <%= render "best_mac", :mac => @user_response.get_best_mac, :important_specs_id => important_specs_id %>
</div>

