<% is_first_column = true -%>
<% star_products.each do |p| -%>
  <% unless is_first_column == true%>
    <td class="bestpickvspacer" />
  <% end -%>
  <% is_first_column = false -%>
  <td class="scorebox">
    <h3 class="colorid3"><%= p.spenta_score.round%><small>&#37;</small></h3>
    <p><%= t :bestpick_metric %></p>
    <a href="#" class="scoretooltip">
      <%= image_tag "/images/results/tooltip.png", :class => "scoretooltipicon", :alt => t(:bestpick_score_tooltip_icon)%>
      <span><%= t_safe :bestpick_spenta_score_tooltip%></span>
    </a>
  </td>
  <td class="pricebox">
    <p><%= t :bestpick_price %></p>
    <h3><%= p.price.floor %><small><%= t(:bestpick_currency)+get_cents_from(p.price) -%></small></h3>
  </td>
<% end -%>
