<div id="topwrapper">
  <!-- Navigation -->
  <div id="title_section">
    <%= link_to edit_user_request_path do %>
      <div class="backbutton">
        <h3 class="buttonlabel"><%= t :result_nav_back %></h3>
      </div>
    <% end -%>
    <div class="toptitle">
      <h1><%= t(:result_page_title).gsub("num_offers", Product.num_valid.to_s) %></h1>
    </div>
    <%= link_to user_requests_path, :method => :post do %>
      <div class="restartbutton">
        <h3 class="buttonlabel"><%= t :result_nav_restart %></h3>
      </div>
    <% end -%>
  </div>
  <%# Table pour afficher les 3 PC recommandes %>
  <div class="clearfix"></div>
  <div id="bestpicks">
    <div class="bestpick_wrapper">
      <div class="subtitle">
        <%= image_tag "/images/results/number_1.png" %>
        <h2><%= t(:result_page_subtitle_1) %></h2>
      </div>
      <div class="clearfix"></div>
      <% star_products.first(3).each do |ps| -%>
        <%= render "layouts/best_product_with_specs", :product_scored => ps, :important_specs_id => important_specs_id, :layout => :vertical  %>
      <% end -%>
      <div class="clearfix"></div>
    </div>
    <div class="mac">
      <div class="subtitle">
        <%= image_tag "/images/results/number_2.png" %>
        <h2><%= t(:result_page_subtitle_2) %></h2>
      </div>
      <div class="clearfix"></div>
      <%= render "layouts/best_product_with_specs", :product_scored => @user_response.get_best_mac, :important_specs_id => important_specs_id, :layout => :horizontal %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
