<%= render 'vspacer', :is_first_column => is_first_column %>
<td class="scorebox">
  <%= content_tag :h3, :class => "colorid#{get_color_number(p.spenta_score/100)}" do %>
    <%= p.spenta_score.round%><small>%</small>
  <%end%>
  <p><%= t :bestpick_metric %></p>
  <a href="#" class="scoretooltip">
    <%= image_tag "/images/results/tooltip.png", :class => "scoretooltipicon", :alt => t(:bestpick_score_tooltip_icon)%>
    <span><%= t_safe :bestpick_spenta_score_tooltip%></span>
  </a>
</td>
<td class="pricebox">
  <p><%= t :bestpick_price %></p>
  <h3><%= p.price.floor %><small><%= t(:bestpick_currency)+get_cents_from(p.price) -%></small></h3>
</td>
