<tr>
  <td class="important_specs_title" colspan="2"><p><%= t_safe :important_specs_title %></p></td>
  <td class="bestpickvspacer"></td>
  <td class="important_specs_title" colspan="2"><p><%= t_safe :important_specs_title %></p></td>
  <td class="bestpickvspacer"></td>
  <td class="important_specs_title" colspan="2"><p><%= t_safe :important_specs_title %></p></td>
</tr>

<% num_line = 1-%>
<% important_specs_id.each do |spec_id| -%>
  <% specification = Specification.find(spec_id) -%>
  <% unless num_line == 1%>
    <tr>
      <td class="bestpickcolumn bestpickhspacer" colspan="2"></td>
      <td class="bestpickvspacer"></td>
      <td class="bestpickcolumn bestpickhspacer" colspan="2"></td>
      <td class="bestpickvspacer"></td>
      <td class="bestpickcolumn bestpickhspacer" colspan="2"></td>
    </tr>
  <% end -%>
  <% is_first_column = true -%>
  <tr>
    <% star_products.each do |p| -%>
      <% p_id = p.product_id -%>
      <% p_infos = Rails.cache.read("product_infos_#{p_id}") %>
      <%= render 'vspacer', :is_first_column => is_first_column %>
      <% is_first_column = false -%>
        <td class="bestpickcolumn" colspan="2">
          <%= render 'main_specs', :p_infos => p_infos, :num_line => num_line, :spec_id => spec_id %>
        </td>
    <% end -%>
  </tr>
  <% num_line += 1 -%>
<% end -%>

