<% num_line = 1-%>
<% important_specs_id.each do |spec_id| -%>
  <% specification = Specification.find(spec_id) -%>
  <% unless num_line == 1%>
    <tr>
      <td class="bestpickcolumn bestpickhspacer" colspan="2" />
      <td class="bestpickvspacer" />
      <td class="bestpickcolumn bestpickhspacer" colspan="2" />
      <td class="bestpickvspacer" />
      <td class="bestpickcolumn bestpickhspacer" colspan="2" />
    </tr>
  <% end -%>
  <% is_first_column = true -%>
  <tr>
    <% star_products.each do |p| -%>
      <% p_id = p.product_id -%>
      <% p_infos = Rails.cache.read("product_infos_#{p_id}") %>
      <%= render 'vspacer', :is_first_column => is_first_column %>
      <% is_first_column = false -%>
        <td class="bestpickcolumn" colspan="2">
          <div class="specsleft">
            <a href="#" class="specstooltip">
              <%= image_tag "/images/results/rank#{num_line}.png", :class => "specsrankimage" %>
              <span><p class="specstooltip"><%= t :bestpick_rank_tooltip %></p></span>
            </a>
            <a href="#" class="specstooltip">
              <h5 class="specsname"><%= t_safe "spec_name_#{spec_id}" %></h5>
              <p class="specsvalue"><%= spec_value_with_unit p_infos, spec_id%></p>
              <span><p class="specstooltip"><%= t_safe "spec_tooltip_#{spec_id}" %></p></span>
            </a>
          </div>
          <div class="specsright">
            <a href="#" class="specstooltip">
              <%spec_score = p_infos[:specification_values][spec_id][:sv_score] %>
              <%= content_tag :p, :class => "specscore colorid#{get_color_number(spec_score/(@user_response.sigmas[spec_id]))}" do%>
                <%= spec_score.round %><small>/10</small>
              <% end %> 
              <span><p class="specstooltip"><%= t :bestpick_score_tooltip %></p></span>
            </a>
          </div>
        </td>
    <% end -%>
  </tr>
  <% num_line += 1 -%>
<% end -%>
