<% content_for :head do -%>
 <script type="text/javascript">
    var $j = jQuery.noConflict();
    $j(document).ready(function()
      {
          // convert all <select> with the class 'slider' into a slider
          $j('select.slider').selectSlider(); 
      });
  </script>
<% end -%> 
<% @user_request.selected_super_usages.each do |su| -%>
    <div class="question" id=<%= "super-usage#{su[0]}" %>>
    <span class="qicon"></span> 
      <div class="qbody">

        <div class="qname">
            <h2 class="usageTitle"><%= t "super_usage_title#{su[0]}".to_sym %></h2>
            <p class="weightExplain"><%= t "weight_step_question_superusage#{su[0]}".to_sym %></p>
        </div>

        <div class="answer">
          <select name=<%= "super_usage_weight_#{su[0]}" %> class="slider nosnap">
              <option value="0">Peu important</option>
              <option value=""></option>
              <option value="<%= su[1].to_s %>" selected="selected"></option>
              <option value=""></option>
              <option value="100">Tr&egrave;s important</option>
          </select>
       </div>
    </div>
  </div>
<% end -%>
