<%# Multi-step form done in the same way as in this Railscast :http://media.railscasts.com/videos/217_multistep_forms.mov%>

<% content_for :head do -%>
  <link rel="icon" type="image/png" href="/favicon.ico" />
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"%>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"%>
  <%= include_javascripts :form%>
  <%= include_stylesheets :form%>
  <!--[if lte IE 8]>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main_lteie8.css">
  <![endif]-->

<% end -%>

<div id="form_wrapper">
  <div id="main" class="usages">
    <%= render 'form_header_and_info', :current_step => @user_request.current_step %>
    <%= form_for(@user_request, :html => {:class => "tabbed"}) do |f| %>
      <%= render :partial => @user_request.current_step %>
      <div style="clear:both;"></div>

      <div class="actions">
      <% unless @user_request.current_step == "selection"%>
        <%= link_to  t(:nav_button_prev), edit_user_request_path(:back => "true"), :class => "prev-button"%>
      <% end -%>

      <%= f.submit t(:nav_button_next), :class => "next-button" %>

    </div>

    <% end %>

    <% if flash[:error] -%>
      <p class="warning"><%= flash[:error] %></p>
    <% end -%>

    <div class="clearfix"></div>
  </div>

  <% if @user_request.current_step == "mobilities"%>
    <%= render :partial => 'form_popup' %>
  <% end %>

</div>

