<%# Multi-step form done in the same way as in this Railscast :http://media.railscasts.com/videos/217_multistep_forms.mov%> 


<% content_for :head do -%>
  <%= stylesheet_link_tag  "reset"%>
  <%= stylesheet_link_tag  "main"%>
  <%= stylesheet_link_tag  "usages.css"%>
  <%= stylesheet_link_tag  "usages.selectSlider.css"%>
  <%= stylesheet_link_tag  "usages.labelCheckbox.css"%>
  <%= stylesheet_link_tag  "usages.tabbedForm.css"%>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"%>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js"%>
  <%= javascript_include_tag "/javascripts/usages.tabbedForm.js"%>
  <%= javascript_include_tag "/javascripts/usages.answerMultichoice.js"%>
  <%= javascript_include_tag "/javascripts/usages.labelCheckbox.js"%>
  <%= javascript_include_tag "/javascripts/usages.selectSlider.js"%>
  
<% end -%>
<% if flash[:error] -%>
  <h1><%= flash[:error] %></h1>
<% end -%>
<div id="main" class="usages">
  <h1><%= t_safe  "#{@user_request.current_step}_step_title"%></h1>
  <p class="explain usageSubtitle"><%= t(("#{@user_request.current_step}_step_subtitle".to_sym)).html_safe%></p>
  <div class="sideinfo" id="myFormInfoContainer">
      <%= t(("#{@user_request.current_step}_step_sideinfo".to_sym)).html_safe%>
  </div>
  <%= form_for(@user_request, :html => {:class => "tabbed"}) do |f| %>
    <%= render :partial => @user_request.current_step %>
    <div style="clear:both;"></div>
    <div class="actions">
      <% unless @user_request.current_step == "selection"%>
        <%= link_to  "Back", edit_user_request_path(:back => "true"), :class => "prev-button"%>
      <% end -%>
      <%= f.submit "Next", :class => "next-button"%>
    </div>
  <% end %>
</div>
