<%# Multi-step form done in the same way as in this Railscast :http://media.railscasts.com/videos/217_multistep_forms.mov%>


<% content_for :head do -%>
  <%= stylesheet_link_tag  "reset"%>
  <%= stylesheet_link_tag  "main"%>
  <%= stylesheet_link_tag  "usages.css"%>
  <%= stylesheet_link_tag  "usages.selectSlider.css"%>
  <%= stylesheet_link_tag  "usages.labelCheckbox.css"%>
  <%= stylesheet_link_tag  "usages.tabbedForm.css"%>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"%>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js"%>
  <%= javascript_include_tag "/javascripts/usages.tabbedForm.js"%>
  <%= javascript_include_tag "/javascripts/usages.answerMultichoice.js"%>
  <%= javascript_include_tag "/javascripts/usages.labelCheckbox.js"%>
  <%= javascript_include_tag "/javascripts/usages.selectSlider.js"%>
  <%= javascript_include_tag "/javascripts/waitpopup.js"%>
<% end -%>

<div id="main" class="usages">
  <%= render :partial => 'form_header_and_info', :locals => {:current_step => @user_request.current_step} %>
  <%= form_for(@user_request, :html => {:class => "tabbed"}) do |f| %>
    <%= render :partial => @user_request.current_step %>
    <div style="clear:both;"></div>

    <div class="actions">
    <% unless @user_request.current_step == "selection"%>
      <%= link_to  t(:nav_button_prev), edit_user_request_path(:back => "true"), :class => "prev-button"%>
    <% end -%>

    <%= f.submit t(:nav_button_next), :class => "next-button" %>

    </div>

  <% end %>

    <% if flash[:error] -%>
      <p class="warning"><%= flash[:error] %></p>
    <% end -%>

    <% if @user_request.current_step == "mobilities"%>
      <%= render :partial => 'form_popup' %>
    <% end %>
</div>

