<p id="notice"><%= notice %></p>
<h1>Editing user_request</h1>

<%= render 'form' %>
<h2><%= link_to "Results", user_response_user_request_path %></h2>
<%= link_to 'Show', @user_request %> |
<%= link_to 'Back', user_requests_path %>

