<h1>Listing user_requests</h1>

<%= link_to 'new request', user_requests_path, :method => :post %>
<% @user_requests.each do |user_request| %>
  <p>
    <%= user_request.id %>
    <%= link_to 'Show', user_request %>
    <%= link_to 'Edit', edit_user_request_path(user_request) %>
    <%= link_to 'Destroy', user_request, :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>
</table>

