<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_user_request_path(@user_request) %> |
<%= link_to 'Back', user_requests_path %>
<%SuperUsage.all.each do |su|%>
  <% unless su.name == "Mobilite"%>
    <h1><%=su.name%></h1>
    <% first_usage_choice = @user_request.usage_choices.where(:usage_id => su.usages.first.id).first %>
    Choix : <%=first_usage_choice.weight_for_user%> |
    <%@user_request.usage_choices.each do |uc|%>
      <%=uc.usage.name + " | " if uc.is_selected && su.usages.include?(uc.usage)%>
    <%end%>
  <% end %>
  <% if su.name == "Mobilite"%>
    <h1><%=su.name%></h1>
    <p>
      <% @user_request.usage_choices.where(:usage_id => su.usages).each do |uc|%>
        <%= uc.usage.name %> : <%= uc.weight_for_user %> |
      <% end %>
    </p>
  <% end %>
<%end%>

