<p id="notice"><%= notice %></p>

<p>
  <b>Order by:</b>
  <%= @user_request.order_by %>
</p>

<p>
  <b>Num result:</b>
  <%= @user_request.num_result %>
</p>

<p>
  <b>Start index:</b>
  <%= @user_request.start_index %>
</p>
<%SuperUsage.all.each do |su|%>
  <h1>Super Usage : <%=su.name%></h1>
  <% first_usage_choice = @user_request.usage_choices.where(:usage_id => su.usages.first.id).first %>
  Choix : <%=first_usage_choice.weight_for_user%>
  <%su.usages.each do |u|%>
    <h2>Usage : <%=u.name%></h2>
  <%end%>
  <p></p>
  <p></p>
  
<%end%>


<%= link_to 'Edit', edit_user_request_path(@user_request) %> |
<%= link_to 'Back', user_requests_path %>
