<p id="notice"><%= notice %></p>
<h1>Response</h1>
<%= link_to 'edit request', edit_user_request_path %>
<h2>Products</h2>
<table>
  <tr>
    <td/>
    <td/>
  </tr>
  <% user_response.products_scored = user_response.products_scored.sort {|p1, p2| p2.spenta_score <=> p1.spenta_score}%>
  <% user_response.products_scored.each do |ps| %>
    <tr>
      <td>
      <%= link_to ps.product do%>
      <td>
        <h3><%= ps.spenta_score.round(2)%>&nbsp;% </h3>
      </td>
      <% end %>
      </td>
      <td><%= ps.product.name %></td>
    </tr>
  <% end %>
</table>

