<% star_products = @user_response.get_star_products_to_display -%>
<% good_deal_products = @user_response.get_good_deal_products_to_display -%>
<% important_specs_id = get_important_specs_id_from @user_response.gammas -%>
<% content_for :head do -%> 
  <title>Les PC portables les plus adapt&eacute; &agrave; vos besoins.</title>
  <%= stylesheet_link_tag  "reset"%>
  <%= stylesheet_link_tag  "result"%>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"%>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js"%>
  <%= javascript_include_tag "/javascripts/jquery.tablesorter.min.js"%>
  <%= javascript_include_tag "/javascripts/result"%>
  <script type="text/javascript">
  </script>

<% end -%>  
<div id="resultpage">
  <%# Section du haut : produits recommandés  %>
  <%= render :partial => 'star_products_group', :locals => {:star_products => star_products, :important_specs_id =>  important_specs_id} %>
  <%# Section du bas : autres produits adaptés %>            
  <%= render :partial => 'good_deal_products_group', :locals => {:good_deal_products => good_deal_products, :important_specs_id =>  important_specs_id} %>
</div>
