<p id="notice"><%= notice %></p>
<h1>Response</h1>
<%= link_to "Accueil", :root %>
<%= link_to 'new request', user_requests_path, :method => :post %>
<h2>Products</h2>
<table>
  <tr>
    <td><%= sortable "medals", "Médailles"%> </td>
    <td></td>
    <td><%= sortable "score", "Score"%></td>
    <td><%= sortable "price", "Prix" %></td>
    <td><%= sortable 'brand', "Marque"%></td>
    <td><%= sortable 'name', "Modèle" %></td>
  </tr>
  <% @user_response.products_for_display[@start_index..[@start_index+@num_result-1, @user_response.products_for_display.size-1].min].each do |ps| %>
    <%= render :partial => "product", :locals => {:ps => ps} %>
  <% end %>


</table>
