<%= content_for :head do %>
  <title><%= t_safe :home_html_title %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="language" content="fr" />
  <meta name="description" content="<%= t_safe :home_html_description %>" />
  <meta name="keywords" content="<%= t_safe :meta_keywords %>" />
  <META name="y_key" content="4314c2339f6890c3" />
  <%= javascript_include_tag 'home' %>
  <%= stylesheet_link_tag 'home'%> 
  <%= stylesheet_link_tag 'best_laptop'%>
  <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
  <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/home_lteie8.css" />
  <![endif]-->

  <%# Canonical tag to prevent SEO dilution from other path to this page (such as choisirfacile.com) %>
  <link rel="canonical" href="<%= t_safe :home_canonical %>" />

<% end -%>
<div id="home">
  <h1 class="explain"><%= t_safe :home_explain %></h1>
  <div class="wrapper">
    <div id="steps_grid">

      <div class="step">
        <div class="left">
          <div class="top"></div>
          <img class="bottom" src="/images/home/number_1.png" alt="<%= t :number_1_alt %>" />
        </div>
        <div class="right">
          <img class="top" src="/images/home/step_1.png" alt="<%= t :step_1_alt %>" />
          <div class="bottom">
            <h3><%= t_safe :home_step_1_title %></h3>
            <p class="subtitle"><%= t_safe :home_step_1_subtitle %></p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="vspacer"></div>

      <div class="step">
        <div class="left">
          <div class="top"></div>
          <img class="bottom" src="/images/home/number_2.png" alt="<%= t :number_2_alt %>" />
        </div>
        <div class="right">
          <img class="top" src="/images/home/step_2.png" alt="<%= t :step_2_alt %>" />
          <div class="bottom">
            <h3><%= t_safe :home_step_2_title %></h3>
            <p class="subtitle"><%= t_safe :home_step_2_subtitle %></p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="vspacer"></div>

      <div class="step">
        <div class="left">
          <div class="top"></div>
          <img class="bottom" src="/images/home/number_3.png" alt="<%= t :number_3_alt %>" />
        </div>
        <div class="right">
          <img class="top" src="/images/home/step_3.png" alt="<%= t :step_3_alt %>" />
          <div class="bottom">
            <h3><%= t_safe :home_step_3_title %></h3>
            <p class="subtitle"><%= t_safe :home_step_3_subtitle %></p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>

    <div class="clearfix">
      <img class="hspacer" src="/images/home/hspacer.png" alt="<%= t :hspacer_alt %>Separateur vertical" />
    </div>

    <%= link_to user_requests_path, :method => :post, :id => "link_to_form", :class => "no_underline" do%>
      <div class="button"><%= t_safe :home_wizard_button%></div>
    <% end -%>
    <!-- <div class="catalogue_incentive"><%= t_safe :catalogue_incentive %> <%= link_to "catalogue comparatif PC", products_path %></div> -->
  </div>
</div>
<div id="home_infos_wrapper">
  <div class="social_media">
	  <p><%= t :home_vote_for_us %> </p>
	  <div class="plus_one">
		  <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.choisirfacile.com&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
		  <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.choisirfacile.com" data-text="Un conseiller interactif pour trouver un PC portable #choisirfacile " data-count="horizontal" data-lang="fr">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<g:plusone href="http://www.choisirfacile.com" size="medium"></g:plusone>
		</div>
	</div>
  <div id="home_infos">
    <div id="leftbody">
      <div id="best_laptops">
        <h2><%= t :home_best_laptops_title %></h2>
        <p><%= t_safe :home_best_laptops_intro %></p>

        <%= render 'layouts/best_laptop.html', :profile => 'family' %>
        <div class="gridspacer"></div>

        <%= render 'layouts/best_laptop.html', :profile => 'mobile_professional' %>
        <div class="gridspacer"></div>

        <%= render 'layouts/best_laptop.html', :profile => 'gamer' %>
      </div>

      <div id="partners">
        <%= link_to press_path, :class => "no_underline" do %>
          <h3 class="emphasized_h3"><%= t :home_partner_title %></h3>
        <% end -%>
        <p><%= t_safe :home_partner_text %></p>
        <p class="page_link">>
          <%= link_to press_path do %>
            <%= t :home_partner_link %>
          <% end -%>
        </p>
      </div>

      <div id="extra_content">
        <%= t_safe :home_extra_description %>
      </div>

    </div>


    <div id="sidebar">

      <div id="tour">
        <%= link_to tour_path, :class => "no_underline" do %>
          <h3 class="emphasized_h3"><%= t :home_tour_title %></h3>
        <% end -%>
        <img class="illustration" src="/images/home/usages_pc_portable.png" alt="<%= t :tour_alt %>" />
        <p><%= t_safe :home_tour_text %></p>
        <p class="page_link">>
          <%= link_to tour_path do %>
            <%= t :home_tour_link %>
          <% end -%>
        </p>
      </div>

      <div class="clearfix"></div>

      <div id="merchants">
        <h2><%= t :home_retailer_title %></h2>
        <img class="retailer_logo" src="/images/home/marchands_ordinateur_portable.jpg" alt="<%= t :retailers_alt %>" />
        <p><%= t :home_retailer_count_1 %> <%= Retailer.all_cached.length %> <%= t :home_retailer_count_2 %> <em><%= Product.num_valid %> <%= t :home_retailer_count_3 %></em></p>
      </div>

      <div class="clearfix"></div>

      <div id="brands">
        <h2><%= t :home_brand_title %></h2>
        <img class="retailer_logo" src="/images/home/marques_pc_portables.jpg" alt="<%= t :brands_alt %>" />
        <p><%= t_safe :home_brand_text %></p>
      </div>

      <div class="clearfix"></div>


    </div><!-- Close Sidebar -->


    <div class="clearfix"></div>

  </div>
</div>

