<%= content_for :head do %>
  <title>Choisir Facile - Touver le meilleur ordinateur portable</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="language" content="fr" />
  <meta name="description" content="Choisir Facile vous conseille le PC portable le plus adapté à vos besoins." />
  <meta name="keywords" content="PC portable" />

  <%= include_javascripts :home%>
  <%= include_stylesheets :home%>
  <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/home_lteie8.css" />
  <![endif]-->

<% end -%>
<body>
  <div id="home">
    <p class="explain"><%= t_safe :home_explain %></p>

    <div class="wrapper">
      <div id="steps_grid">

        <div class="step">
          <div class="left">
            <div class="top"></div>
            <img class="bottom" src="/images/home/number_1.png" />
          </div>
          <div class="right">
            <img class="top" src="/images/home/step_1.png" />
            <div class="bottom">
              <h1>Répondez aux questions</h1>
              <p class="subtitle">Ça ne prend que deux minutes</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="vspacer"></div>

        <div class="step">
          <div class="left">
            <div class="top"></div>
            <img class="bottom" src="/images/home/number_2.png" />
          </div>
          <div class="right">
            <img class="top" src="/images/home/step_2.png" />
            <div class="bottom">
              <h1>Profitez de nos conseils</h1>
              <p class="subtitle">Ils sont taillés pour <strong>vos</strong> besoins</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="vspacer"></div>

        <div class="step">
          <div class="left">
            <div class="top"></div>
            <img class="bottom" src="/images/home/number_3.png" />
          </div>
          <div class="right">
            <img class="top" src="/images/home/step_3.png" />
            <div class="bottom">
              <h1>Achetez au meilleur prix</h1>
              <p class="subtitle">Nous sommes 100% indépendants</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>

      <div class="clearfix"><img class="hspacer" src="/images/home/hspacer.png" /></div>

      <%= link_to user_requests_path, :method => :post, :id => "link_to_form", :class => "no_underline" do%>
        <div class="button">Trouvez votre PC</div>
      <% end -%>
    </div>
  </div>
  <div id="home_infos_wrapper">
    <div id="home_infos">
      <div id="partners">
        <a class="no_underline" href="/presse_partenaires.html">
          <h2>Choisir Facile sur Internet</h2>
        </a>
        <p>Avec ses conseils d'achats interactifs, Choisir Facile est un comparateur innovant. Découvrez nos partenaires !</p>
        <p class="page_link">> <a href="/presse_partenaires.html">Choisir Facile sur le web</a></p>
      </div>
      <div id="tour">
        <a class="no_underline" href="/visite_guidee.html">
          <h2>Comment ça marche ?</h2>
        </a>
        <img class="illustration" src="/images/home/usages_pc_portable.png" alt="Un PC pour chaque usage" />
        <p>Choisir Facile vous aide à trouver le bon ordinateur pour vos besoins, au meilleur prix.</p>
        <p class="page_link">> <a href="/visite_guidee.html">Visite guidée</a></p>
      </div>
      <div id="merchants">
        <a class="no_underline" href="/sites_marchands.html">
          <h2>Les sites marchands</h2>
        </a>
        <p><%= t :home_count_1 %> 8 <%= t :home_count_2 %><%= Product.count %><%= t :home_count_3 %></p>
        <p class="page_link">> <a href="/sites_marchands.html">Liste des marchands</a></p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</body>

