<%= content_for :head do %>
  <meta http-equiv="Refresh" content="1; url=<%= @offer.link %>" />
  <%= stylesheet_link_tag 'home'%>
  <%= stylesheet_link_tag 'redirection'%>
<% end -%>
<div id="home">
  <%= content_tag :h1, t(:thanks_and_bye) -%>
  <div class="redirect_wrapper">
    <div class="redirect_top"></div>
    <div class="redirect_content">
      <% retailer = @offer.retailer -%>
      <%= image_tag retailer.logo_url, :alt => "logo_#{retailer.name}", :class => "retailer_logo" %>
      <img class="loader" src="/images/product/offers_loader.gif"></img> 
    </div>
    <div class="redirect_bottom"></div>
  </div>
  <%= content_tag :p, t_safe(:thanks_and_bye_sub) %>
</div>
