<%= content_for :head do %>

  <title><%= t_safe :tour_html_title %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="language" content="fr" />
  <meta name="description" content="<%= t_safe :tour_html_description %>" />
  <meta name="keywords" content="<%= t_safe :meta_keywords %>" />

  <%= include_stylesheets :tour %>
<% end %>

<div id="page_wrapper">
  <div id="page_content">
    <h1>L'aide au choix pour les PC portables : visite guidée</h1>
    <p class="intro">Choisir un nouvel ordinateur portable, c'est horriblement compliqué. Plus grand-monde ne comprend à quoi riment les fiches techniques : elles sont remplies de noms barbares. Ce n'est pas facile de savoir si un PC est vraiment adapté à ce que l'on veut en faire. Pour ne rien arranger, il y a des centaines de modèles de PC portables disponibles ! L'offre est tout simplement devenue trop complexe pour les non-experts.</p>
    <p class="intro_center">Vous voulez un PC pour l'utiliser, pas pour apprendre sa fiche technique : Choisir Facile va vous faciliter la vie.</p>
    <div class="feature">
      <div class="feature_text">
        <div class="title_box">
          <h2>Nous écoutons vos besoins</h2>
        </div>
        <p>Choisir Facile, c'est un peu comme l'ami technophile à qui vous demandez conseil avant d'acheter. Il ne va pas vous conseiller avant de savoir ce que vous voulez vraiment faire avec votre ordinateur !</p>
        <p>C'est pareil pour nous : nous allons bien regarder comment vous allez utiliser votre PC grâce à vos réponses aux questions.</p>
        <p>Notre conseiller interactif pense comme un expert en chair et en os : il va déterminer les caractéristiques techniques que doit avoir un bon PC pour vos besoins. Vous n'avez plus besoin de lire des tonnes d'articles pour savoir s'il vous faut 2 ou 4 Go de mémoire vive, ou quel modèle de processeur choisir. On le fait à votre place !</p>
        <p>Le secret derrière tout cela ? Des mathématiques compliquées...</p>
      </div>
      <img class="feature_img" src="/images/visite_guide_image1.png" alt="Des conseils d'achat PC pour vos besoins"/>
    </div>
    <div class="clearfix vspacer"></div>
    <div class="feature">
      <img class="feature_img" src="/images/visite_guide_image2.png" alt="Des suggestion d'ordinateurs portables faciles à comprendre" />
      <div class="feature_text">
        <div class="title_box">
          <h2>Nous vous donnons des conseils clairs</h2>
        </div>
        <p>Choisir facile note tous les PC avec un score tout simple : </p>
        <ul>
          <li>Un PC autour de 100% est parfaitement adapté à vos besoins. Vous pourrez faire tout ce que vous nous avez dit dans le questionnaire avec un très bon confort d'utilisation.</li>
          <li>Au-dessus de 100%, le PC a de la puissance en réserve. Il ne vous laissera pas tomber si vos besoins augmentent à l'avenir. Faites-vous plaisir !</li>
          <li>Plus on va en-dessous de 100%, moins votre confort sera bon. Nous avons éliminé tous les PC à moins de 70% de vos besoins : vous seriez très déçu par leur performance.</li>
        </ul>
        <p>Nous avons également noté toutes les caractéristiques techniques de 1 à 10 (le meilleur). Vous verrez d'un coup d'oeil quelle est la puissance des principaux composants !</p>
      </div>
    </div>
    <div class="clearfix vspacer"></div>
    <div class="feature">
      <div class="feature_text">
        <div class="title_box">
          <h2>Vous achetez votre PC au meilleur prix</h2>
        </div>
        <p>Choisir Facile ne vous proposera jamais un PC cher s'il existe un autre modèle meilleur marché adapté à vos envies. Si un PC à 300€ est suffisant pour vos besoins, ce ne serait pas très honnête de vous en suggérer un à 1000€ !</p>
        <p>La preuve ? Nous ne vous demandons même pas votre budget ! Vous choisissez parmi nos suggestions, sans que nos conseils d'achat ne soient influencés par la somme que vous êtes prêt à dépenser.</p>
        <p>En plus, Choisir Facile recherche les offres de nombreux sites marchands sérieux. Vous trouverez sans aucun doute les meilleurs prix du marché grâce à Choisir Facile !</p>

      </div>
      <img class="feature_img" src="/images/visite_guide_image3.png" alt="Le meilleur PC portable, pas cher" />
    </div>
    <div class="clearfix vspacer"></div>
  </div>
</div>

