<% if bar_id == 1-%>
  <tr class="first">
<% else -%>
  <tr>
<% end -%>
  <td class="spec_name">
    <a href="#" class="tooltip">
      <%= image_tag "/images/product/product_tooltip.png", :alt => t(:product_help), :class => "tooltipicon" %>
      <span><%= t_safe "product_#{spec_id}_tooltip" %></span>
    </a>
    <strong><%= t_safe "spec_name_#{spec_id}" %></strong>
  </td>
  <td class="spec_value"><%= spec_value_with_unit infos, spec_id %></td>
  <td class="spec_bar">
    <div class="bar_background">
      <%= content_tag :div, nil, :id => "bar_#{bar_id}", :class => "bar" %>
    </div>
  </td>
  <td  class="spec_rating">
    <strong><%= (infos[:specification_values][spec_id][:sv_score] || 0).round%></strong><small>/10</small>
  </td>
</tr>

