<% retailer = Retailer.find(offer.retailer_id) %>
<tr class="offer">
  <td class="offer_thumbnail">
    <%= image_tag((offer.retailer_small_img_url ||infos[:small_img_url]), {:alt => product_sold_by(infos, retailer.name), :class => "thumbnail"}) %>
  </td>
  <td class="offer_name">
    <%= offer.retailer_product_name || "#{infos[:brand_name]} #{infos[:name]}" %>
  </td>
  <td class="offer_logo">
    <%= image_tag retailer.logo_url, :class => "retailer_logo" %>
  </td>
  <td class="offer_price">
    <%= offer.price.round %><small>,<%= get_cents_from offer.price%></small> <%= t :currency %>
  </td>
  <td class="offer_link">
    <%= link_to offer.link, :target => "_blank" do %>
      <div class="offer_button">
        <p class="buy"><%= t :product_buy %></p>
      </div>
    <% end %>
  </td>
</tr>

