<% retailer = Retailer.find(offer.retailer_id) %>
<tr class="offer">
  <td class="offer_thumbnail">
    <%= link_to_offer offer do %>
      <%= image_tag((offer.retailer_small_img_url || "/images/product/not_available.png"), {:alt => product_sold_by(infos, retailer.name), :class => "thumbnail"}) %>
    <% end -%>
  </td>
  <td class="offer_name">
    <%= link_to_offer offer do %>
      <%= retailer_product_name offer%>
    <% end -%>
  </td>
  <td class="offer_logo">
    <%= link_to_offer offer do %>
      <%= image_tag retailer.logo_url, :class => "retailer_logo" %>
    <% end -%>
  </td>
  <td class="offer_price">
    <%= link_to_offer offer do %>
      <% formated_price = get_formated_price(offer.price) %>
      <% if offer.get_discount_percentage.nil? -%>
        <p class="normal_price"><%= "#{formated_price[:euros]}#{t(:currency)}"%><small><%= formated_price[:cents]%></small></p> 
      <% else -%>
        <% formated_old_price = get_formated_price(offer.old_price) %>
        <% formated_discount = get_formated_price(offer.old_price - offer.price) -%>
        <div class="price_box">
          <div class="price_box_left">
            <p class="old_price"><%= "#{formated_old_price[:euros]}#{t(:currency)}"%><small><%= formated_old_price[:cents]%></p> 
            <p class="discount_price"><%= "#{formated_price[:euros]}#{t(:currency)}"%><small><%= formated_price[:cents]%></p> 
          </div>
          <div class="price_box_right">
            <p class="discount_percentage"><%= (offer.get_discount_percentage*100).round %> %</p> 
            <p class="discount_absolute"><small>soit</small><%=" #{formated_discount[:euros]}#{t(:currency)} " %><small>d'éco.</small></p> 
          </div>
        </div>
      <% end -%>
    <% end -%>
  </td>
  <td class="offer_link">
    <%= link_to_offer offer do %>
      <p class="retailer_incentive">Plus d'informations sur le site marchand</p>
      <div class="offer_button">
        <p class="buy"><%= t :product_buy %></p>
      </div>
    <% end -%>
  </td>
</tr>

