<% p_infos = product.infos -%>
<tr>
  <%# Thumbnail, marque, modèle, lien %>
  <td class="first_column">
    <%= link_to product_path(product.to_param), :class => "no_underline" , :target => "_blank" do %>
      <%= image_tag p_infos[:small_img_url], :alt => "PC #{p_infos[:brand_name]} #{p_infos[:name]}", :class => "thumbnail" %>
      <div class="product_name">
        <%= content_tag :h4, p_infos[:brand_name] %>
        <%= content_tag :p, truncate(p_infos[:name], :length=> 20), :class => "model" %>
        <p class="more""><%= t(:cat_more_infos_1) %><br /><%= t(:cat_more_infos_2) %> <%= product.offers.count %> <%= t(:cat_more_infos_3) %>
      </div>
    <% end -%>
  </td>
  <%# Prix & fiche %>
  <td>
    <% cheapest_offer = product.offers.order("price asc").first %>
    <%= link_to cheapest_offer[:link], :onClick => "_gaq.push(['_trackEvent', 'retailer_clicks', 'buy', \'buy-#{cheapest_offer.retailer.name}-#{cheapest_offer.product[:name]}\']);", :class => "no_underline" do %>
      <span title="<%= p_infos[:price] %>"></span>
      <p  class="from"><%= p_infos[:price].floor %><small> <%= t :cat_currency %><%= get_cents_from p_infos[:price] %></small></p>
      <%= image_tag cheapest_offer.retailer.logo_url, :class =>"offer_logo" %>
    <% end -%>
  </td>
  <%# Caractéristiques %>
  <% [11, 5, 3, 2, 4, 9].each do |spec_id| -%>
    <td>
      <% score = get_score_or_zero p_infos, spec_id-%>
      <span title=<%= "\'#{score}\'" %>></span>
      <p class="spec_rating">
        <%= score %><small>/10</small>
      </p>
      <p class="specs_value"><%= spec_value_with_unit p_infos, spec_id %></p>
    </td>
  <% end -%>
</tr>

