<%= link_to "Accueil", :root%>
<table>
  <% Product.all.each do |p| -%>
  <tr>
    <td><%= link_to p do%>
    <%= image_tag p.small_img_url,{:height => 60} %>
  <% end %></td>
    <td><%=  p.brand.name%> </td>
    <td><%=  p.name%></td>
    </td>
  </tr>
  <% end -%>
</table>
