<% infos = @product.infos -%>
<%= content_for :head do %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>

  <title><%= "#{t :product_page_title} #{infos[:brand_name]} #{infos[:name]}" %></title>

  <meta name="description" content="<%= t_safe :product_meta_description %> <%= infos[:brand_name] %> <%= infos[:name] %>"></meta>
  <meta name="keywords" content="<%= t :meta_keywords %>, <%= t :product_laptop %>"></meta>

  <%= include_stylesheets :product %>
  <script type="text/javascript">
    // Load values for the specs ratings in the bar display
    var bar_length_1 = <%= infos[:specification_values][11][:sv_score] %>
    var bar_length_2 = <%= infos[:specification_values][5][:sv_score] %>
    var bar_length_3 = <%= infos[:specification_values][3][:sv_score] %>
    var bar_length_4 = <%= infos[:specification_values][2][:sv_score] %>
    var bar_length_5 = <%= infos[:specification_values][4][:sv_score] %>
    var bar_length_6 = <%= infos[:specification_values][9][:sv_score] %>
  </script>
  <%= include_javascripts :product %>
  <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
  <!--[if lte IE 8]>
    <link type="text/css" rel="stylesheet" href="/stylesheets/product_lteie8.css">
  <![endif]-->

<% end %>
<div id="top_wrapper">
  <div id="top">
    <div id="top_left">
      <a name="short"></a>
      <div class="picture_box">
        <div id="zoom">
          <a href="#">
            <%= image_tag infos[:big_img_url], :alt => "#{t :product_laptop} #{infos[:brand_name]} #{infos[:name]}", :id => "picture" %>
            <p  class="zoom"><%= t_safe :zoom_in %></p>
          </a>
        </div>
        <%# Image zoom %>
        <div id="popup">
          <p class="unzoom"><%= t_safe :zoom_out %></p>
          <%= image_tag infos[:big_img_url], :alt => "#{t :product_laptop} #{infos[:brand_name]} #{infos[:name]}", :id => "picture_zoom" %>
        </div>
        <div id="overlay"></div>
      </div>

      <div id="main_specs">
        <h1 class="title"><%= t :product_title %> <%= infos[:brand_name] %><br /><strong><%= infos[:name] %></strong></h1>
        <h2 class="faint_title"><%= t :product_main_specs %></h2>
        <table id="main_specs_table">
          <tbody>
            <% bar_id = 1 -%>
            <% [11, 5, 3, 2, 4, 9].each do |spec_id|%>
              <%= render 'main_spec', :spec_id => spec_id, :infos => infos, :bar_id => bar_id %>
              <% bar_id += 1 %>
            <% end -%>
          </tbody>
        </table>
        <div class="clearfix"></div>
        <h2 class="faint_title above_border"><%= t_safe :product_description_title %></h2>
      </div>

      <div class="clearfix"></div>

      <div id="product_description">

        <p><%= usage_class_generator @product %> <%= storage_class_generator @product %> <%= weight_class_generator @product %></p>
      </div>

    </div>


    <div id="top_right">
      <div id="nav_box" class="cta_box">
        <p><%= t_safe :product_nav_title %></p>
        <ul>
          <li><a href="#short"><%= t_safe :product_nav_1 %></a></li>
          <li><a href="#offers"><%= t_safe :product_nav_2 %></a></li>
          <li><a href="#long"><%= t_safe :product_nav_3 %></a></li>
        </ul>
      </div>
      <div id="wizard_box" class="cta_box">
        <h1 class="wizard_cta_title"><%= t_safe :wizard_cta_title %></h1>
        <p class="wizard_incentive"><%= t_safe :wizard_intro_text %></p>
        <%= link_to user_requests_path, :method => :post, :class => "no_underline" do%>
            <div class="wizard_button"><p class="label"><%= t :cat_wizard_label %></p></div>
        <% end %>
        <p class="wizard_emphasis"><%= t :cat_wizard_emphasis %></p>
        <p class="wizard_incentive">
          <%= t_safe :catalogue_link_text_1 %>
          <%= link_to "#{t_safe :catalogue_link_anchor}", products_path, :class => "catalogue_link" %>
          <%= t_safe :catalogue_link_text_2 %> <strong><%= Product.all_cached.count %>
          <%= t_safe :catalogue_link_text_3 %></strong>
        </p>
      </div>
    </div>
    <div class="clearfix"></div>


    <div id="offers">
      <a name="offers"></a>
      <h2 class="offer_title"><%= offers_number_text %></h2>

      <div class="offers_wrapper">
       <table id="offers_table">
          <tbody>
            <% @product.offers.order("price asc").each do |o| -%>
              <%= render 'offer', :infos => infos, :offer => o %>
            <% end -%>
            <tr class="retailers_checked">
              <td colspan="5">
                <p><%= t_safe :retailers_checked_1 %> <%= retailers_with_no_offers_count = 8 - @product.offers.uniq.count %> <%= t_safe :retailers_checked_2 %></p>
                    <% ["/images/logo/fnac.png","/images/logo/pixmania.png","/images/logo/rueducommerce.png","/images/logo/cdiscount.png","/images/logo/hp.png","/images/logo/mistergooddeal.png","/images/logo/boulanger.png","/images/logo/misco.png"].each do |url| %>
                      <img src="<%= url %>" />
                    <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div id="bottom_wrapper">
  <div id="bottom">

    <%# Social media buttons %>
    <div class="social_media">
	    <p><%= t :product_vote_for_us %> </p>
	    <div class="plus_one">
		    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.choisirfacile.com&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
		    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.choisirfacile.com" data-text="Un conseiller interactif trouver un PC portable :" data-count="horizontal" data-lang="fr">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		  <g:plusone href="http://www.choisirfacile.com" size="medium"></g:plusone>
		  </div>
	  </div>

    <div id="specs_sheet">
    <a name="long"></a>
      <div id="tables_header">
        <h2><%= t :product_detailed_specs %></h2>
      </div>

      <div id="tables">
        <div id="tables_left">
          <% parameters_for_left_table.each do |title, specs| -%>
            <%= render 'specs_table', :title => title, :specs => specs, :infos => infos %>
          <% end %>
        </div>
        <div id="tables_right">
          <% parameters_for_right_table.each do |title, specs| -%>
            <%= render 'specs_table', :title => title, :specs => specs, :infos => infos %>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>
    <p id="spec_disclaimer"><%=  t :disclaimer_for_specs_values%></p>
  </div>

</div>

