<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @product.name %>
</p>

<p>
  <b>small_img_url:</b>
  <%= @product.small_img_url %>
</p>

<p>
  <b>big_img_url:</b>
  <%= @product.big_img_url %>
</p>

<p><%= image_tag @product.big_img_url%></p>

<p>
  <%@product.specification_values.each do |sv|%>
    <p><b><%= sv.specification.name %> : </b><%= sv.name %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

