<div class="bpws_specsleft">
  <%= image_tag "/images/best_product_with_specs/rank#{num_line}.png", :class => "bpws_specsrankimage" %>
  <a href="#" class="bpws_specstooltip">
    <%= image_tag "/images/best_product_with_specs/tooltip.png", :class => "bpws_tooltip_icon" %>
    <h5 class="bpws_specsname"><%= t_safe "spec_name_#{spec_id}" %></h5>
    <p class="bpws_specsvalue"><%= spec_value_with_unit p_infos, spec_id%></p>
    <span><p class="bpws_specstooltip"><%= t_safe "spec_tooltip_#{spec_id}" %></p></span>
  </a>
</div>
<div class="bpws_specsright">
  <a href="#" class="bpws_specstooltip mark_tooltip">
    <%spec_score = p_infos[:specification_values][spec_id][:sv_score] %>
    <%= content_tag :p, :class => "bpws_specscore colorid#{get_color_number_absolute(spec_score.round-(@user_response.sigmas[spec_id]))}" do%>
      <%= spec_score.round %><small>/10</small>
    <% end %>
    <span><p class="bpws_specstooltip"><%= t_safe :bestpick_score_tooltip %></p></span>
  </a>
</div>
