<!DOCTYPE html>
<html>
  <head>
    <%= include_stylesheets :wizard%>
    <%= include_javascripts :rails %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"%>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"%>
    <script type="text/javascript">
      $j = jQuery.noConflict();
    </script>
    <%= include_javascripts :wizard%>
    <%= yield(:head) %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
