<!DOCTYPE html>
<html>
  <head>
    <%= include_stylesheets :wizard %>
    <%= include_stylesheets :header_and_footer %>
    <%= include_javascripts :rails %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"%>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"%>
    <script type="text/javascript">
      $j = jQuery.noConflict();
    </script>
    <%= yield(:head) %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div id="header">
      <div class="wrapper">
        <%= link_to :root do %>
          <img src="/images/home/choisir_facile_logo.png" alt="Trouvez rapidement le meilleur ordinateur PC portable avec Choisir Facile" />
        <% end %>
        <div id="menu">
          <ul>
            <li>
              <%= link_to 'Conseiller Virtuel', user_requests_path, :method => :post, :id => "link_to_form" %>
            </li>
            <li><img src="/images/home/menu_vspacer.png" /></li>
            <li>
              <%= link_to "Catalogue", products_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
 
    <%= yield %>

    <div id="footer">
      <div class="footer_left">
        <p>© 2011 | Spenta SAS | Tous droits réservés</p>
      </div>
      <div class="footer_right">
        <p><a href="/mentions_legales.html">Mentions légales</a> | <a href="/conditions_utilisation.html">Conditions d'utilisation</a></p> 
      </div>
    </div>
  </body>
</html>
